<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read (All)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tv_shows_val_app/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>All Shows</h1>
        <table class="shows">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
            {% for show in all_shows %}
            <tr>
                <td><a href="/shows/{{show.id}}/">{{show.id}}</a></td>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                <td><a href="/shows/{{show.id}}/">Show</a> | <a href="/shows/{{show.id}}/edit/">Edit</a>  | <a href="/shows/{{show.id}}/delete">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="/shows/new/">Add a New Show</a>
    </div>
</body>
</html>