*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

.container{
    padding:40px 20px 20px 20px;
    width:80%;
    margin:auto;
}

.center{
    text-align: center;
}

.col{
    width:45%;
    display:inline-block;
    vertical-align: top;
}

h1{
    margin-bottom:20px;
}

.messages{
    justify-content: left;
    margin-bottom:10px;
}

.col-25{
    text-align:left;
    float:left;
    width:25%;
    margin-top: 6px;
}

.col-75{
    text-align:left;
    float:left;
    width: 75%;
    margin-top: 6px;
}

.row:after{
    content: "";
    display:table;
    clear:both;
}

.login{
    float:right;
}

input[type=text],[type=date], [type=password]{
    width:100%;
    padding:5px;
    border: 2px solid black;
}

label {
    padding: 5px 5px 5px 0;
    display: inline-block;
}

.button{
    margin-top:20px;
    border:1px solid black;
    box-shadow: 3px 5px;
    width:70px;
    height:30px;
    font-size:1em;
}