<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ninja_gold_app/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <p class="label">Your Gold:</p>
        <p class="display">{{request.session.gold_count}}</p>
        <a href="/reset">Reset Game</a>
    <div class="row">
        <div class="col">
            <h2>Farm</h2>
            <p>(earns 10-20 golds)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="building" value="farm">
                <input class="button" type = "submit" value = "Find Gold!">
            </form>
        </div>
        <div class="spacer"></div>
        <div class="col">
            <h2>Cave</h2>
            <p>(earns 5-10 golds)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="building" value="cave">
                <input class="button" type = "submit" value = "Find Gold!">
            </form>
        </div>
        <div class="spacer"></div>
        <div class="col">
            <h2>House</h2>
            <p>(earns 2-5 golds)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="building" value="house">
                <input class="button" type = "submit" value = "Find Gold!">
            </form>
        </div>
        <div class="spacer"></div>
        <div class="col">
            <h2>Casino</h2>
            <p>(earns/takes 0-50 golds)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="building" value="casino">
                <input class="button" type = "submit" value = "Find Gold!">
            </form>
        </div>
        <div class="activities">
            <p>Activities:</p>
            {% for activity in request.session.activities %}
            <p class="{{activity.css_class}}">{{activity.content}}</p>
            {% endfor %}
        </div>
    </div>
    </div>
</body>
</html>