* {
    margin:0;
    padding:0;
}

.light{
    background-color:cadetblue;
    width:50px;
    height:50px;
}

.dark{
    background-color:green;
    width:50px;
    height:50px;
}

.light2{
    background-color:red;
    width:50px;
    height:50px;
}

.dark2{
    background-color:black;
    width:50px;
    height:50px;
}