<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css' )}}">
    <title>Checkerboard</title>
</head>
<body>
    <table>
        {% for i in range(4): %}
        <tr>
            {% for j in range(4): %}
            <td class="light"></td>
            <td class="dark"></td>
            {% endfor %}
        </tr>
            
        <tr>
            {% for j in range(4): %}
            <td class="dark"></td>
            <td class="light"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>