<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Wall One</title>
</head>
<body>
    <div class="navbar">
        <h1>CodingDojo Wall</h1>
        <div class="left-message">
            <p>Welcome, {{session["user_name"]}}!</p>
            <a href="/logout">Log Out</a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="innertable">
                <h2><span class="counttext">{{session["received_count"]}}</span> Message(s) for You</h2>
                {% with messages = get_flashed_messages(category_filter=["message_list"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="flash-alert">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% for one_message in your_messages %}
                <div class="message-box">    
                    <div class="textonly">
                        <p>{{one_message["first_name"]}} said <span class="timetext">({{one_message["created_at"] | time_formatter}})</span>:</p>
                        <p class="quote">"{{one_message["content"]}}"</p>
                    </div>
                    <div class="img">
                        <form action ="/delete" method="POST">
                            <input type="hidden" name="delete" value="{{one_message['id']}}">
                            <input class="deletebutton" type="submit" name="submit" value="">
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>     
        <div class="column border-middle">
            <div class="innertable">
                <h2>Send Messages</h2>
                <h3 class="counttext">You have sent {{session["sent_count"]}} messages so far.</h3>
                {% with messages = get_flashed_messages(category_filter=["wall"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="flash-alert">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% for user in all_users %}
                <form class="form-group" action="/send_message" method="POST">
                    <div class="message_name">
                        <label for="message">{{user['first_name']}}</label>
                    </div>
                    <div class="textsubmit">
                        <textarea rows="4" cols="50" name="content"></textarea>
                        <input type="hidden" name="recipient_id" value="{{user['id']}}">
                        <input class="button" type="submit" value="Send">
                    </div>
                </form>
                {% endfor %}
            </div>
    </div>
</body>
</html>